


#display{
    height: 4rem;
    width:20rem;
    color:#ffffff;
    background-color:#282a2d;
    border-bottom-style: inset;
}
.pressed{
    color:white;
    transition:.4s;
}

.released{
     color:black;
     transition:.4s;
}